---
import Base from '../../layouts/Base.astro';

const seo = {
  title: `Turn Inbounds Leads Into Bookers - LimeCall`,
  description: `LimeCall's text messaging and SMS marketing software makes it easy to reach and engage your customers, drive sales, and grow your business.`,
  canonical: `https://www.limecall.com/usecase/travel/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
