---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Best SaaS Podcasts for 2024 - Top 15 | By LimeCall`,
  description: `Saas podcasts that can be your cheat sheet towards a successful Saas career for your brand to achieve. 15 Best Saas Podcasts for 2020`,
  canonical: `https://www.limecall.com/best-saas-podcasts/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
