---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Brand assets - LimeCall`,
  description: `All the assets you need to share Limecall with your audience. Download a folder containing all variations of the Limecall logo; images are available in PNG format.`,
  canonical: `https://www.limecall.com/brand-assets/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
