---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Call Scheduling - Schedule calls easier | By LimeCall`,
  description: `Call Scheduling software that automates your calls and helps you save time without the hassle of missed calls or rescheduling.`,
  canonical: `https://www.limecall.com/call-scheduling-2/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
