---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Call Tracking - Save time and grow faster | LimeCall`,
  description: `LimeCalls free call tracking software allows you to understand which marketing campaign works for your business and helps you grow.`,
  canonical: `https://www.limecall.com/call-tracking/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
