---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Call Tracking - New - LimeCall`,
  description: `Connect with potential customers instantly and improve your conversion rates by 3x with Limecall click to call solution.`,
  canonical: `https://www.limecall.com/calltracking-software/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
