---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Click-to-WhatsApp Ads - Boost Engagement with LimeCall`,
  description: `Click-to-WhatsApp Ads solution seamlessly connects you with leads through WhatsApp chat. Generate leads, improve conversions. Start today!`,
  canonical: `https://www.limecall.com/click-to-whatsapp/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
