---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Don't Miss a Lead! Connect Instantly with LimeCall`,
  description: `Learn effective ways to instantly connect with your website visitors & boost engagement. Boost conversions, capture leads & close more deals!`,
  canonical: `https://www.limecall.com/connect-with-visitors-instantly/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
