---
import Base from '../layouts/Base.astro';

const seo = {
  title: `LimeCall: Simplify Business Communication & Contacts (Free Trial)`,
  description: `Organize your business phonebook, streamline calls & messages with shared contact lists. LimeCall: Powerful contact management & mobile apps.`,
  canonical: `https://www.limecall.com/contacts-lists/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
