---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Best CRM for Facebook Leads: Drive Engagement & Sales`,
  description: `Turn Facebook Likes into Customers! LimeCall's CRM streamlines Facebook lead capture, offers multiple communication methods & simplifies management. Increase engagement. Try LimeCall now!`,
  canonical: `https://www.limecall.com/crm-for-facebook-leads/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
