---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Customer Acquisition Software - LimeCall`,
  description: `LimeCall helps you put the customer at the center of your business with customer acquisition software and tools.`,
  canonical: `https://www.limecall.com/customer-acquisition-software/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
