---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Boost Conversions And Customer Care with Instant Callbacks`,
  description: `Stop waiting, start converting! LimeCall equips your team to instantly connect with website visitors, increasing conversions and improving customer care.`,
  canonical: `https://www.limecall.com/customer-care/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
