---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Free Call Scheduling software Best Sales Tools Call Back`,
  description: `Free Call Scheduling software Automatically call back your customers at the time of meeting. Turn more bookings into revenue, No more missed meetings lime call.`,
  canonical: `https://www.limecall.com/embed-calendly/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
