---
import Base from '../layouts/Base.astro';

const seo = {
  title: `FAQ - LimeCall`,
  description: ``,
  canonical: `https://www.limecall.com/faq/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
