---
import Base from '../layouts/Base.astro';

const seo = {
  title: `For Sales Teams. Streamline & Convert with Our Mobile CRM`,
  description: `Boost sales & empower your team. Our mobile CRM streamlines workflows & boosts conversions. Get a free trial & watch your sales soar!`,
  canonical: `https://www.limecall.com/for-sales-teams/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
