---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Improve Lead Management for Marketing Teams with LimeCall`,
  description: `Stop Wasting Time on Bad Leads. LimeCall for Marketing Teams helps you monitor your lead management and improve your ROI. See how your teams interact with leads, track response times, and identify areas for improvement. Get started for free today!`,
  canonical: `https://www.limecall.com/for-marketing-teams/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
