---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Form Tracking Data At Your Fingerprints`,
  description: `Uncover hidden insights! Track form data effortlessly and optimize your website conversions. Learn more about LimeCall's form tracking.`,
  canonical: `https://www.limecall.com/form-tracking/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
