---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Free Software During COVID for all - Top 31 | By LimeCall`,
  description: `From the list identify which software matches your requirements and click on the links mentioned. Free software during Covid by LimeCall`,
  canonical: `https://www.limecall.com/free-software-during-covid/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
