---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Free tools - LimeCall`,
  description: `Use our free tools to verify phone numbers, emails, detect Unicode characters and much more. Grow sales through real-time conversations`,
  canonical: `https://www.limecall.com/free-tools/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
