---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Generate More Leads in Seconds:Boost Lead Conversion LimeCall`,
  description: `Generate More Leads and Boost Your Sales Now! LimeCall's Callbacks, Pop-ups & Smart Routing Will Skyrocket Your Leads! Try for Free Today!`,
  canonical: `https://www.limecall.com/generate-more-leads/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
