---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get Started with Call Tracking in Seconds`,
  description: `Instantly set up LimeCall's call tracking to capture valuable lead data and boost conversions. Discover how easy it is to get started in seconds.`,
  canonical: `https://www.limecall.com/get-started-with-call-tracking/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
