---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get a local number for your business - LimeCall`,
  description: `Generate more leads from your website by triggering potential customers and deliver them callback with Lead Generation by LimeCall`,
  canonical: `https://www.limecall.com/get-a-local-number-for-your-business/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
