---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get a Virtual Phone Number in France - LimeCall`,
  description: `Create a +33 virtual phone number in France in 1 minute. Unlimited calling from Web and Mobile App to over 100+ destinations. Get a local presence in France right away.`,
  canonical: `https://www.limecall.com/get-virtual-phone-number-france/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
