---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Healthcare Lead Generation with LimeCall`,
  description: `Discover effective strategies for lead generation for healthcare. Maximize your reach, engagement, and attract quality leads effortlessly.`,
  canonical: `https://www.limecall.com/healthcare-lead-generation/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
