---
import Base from '../layouts/Base.astro';

const seo = {
  title: `How It Works | Convert Leads | Callback Software | LimeCall`,
  description: `Tracy is the owner of her own luxury travel consultancy. She signs up for LimeCall and is able to qualify and convert leads within 28 seconds round the clock.`,
  canonical: `https://www.limecall.com/how-it-works/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
