---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Customer Support - LimeCall`,
  description: `MOBILE APPLICATION - Call Support from Mobile AppProvide calls support from your mobile application. Get Started with our Callback Software.`,
  canonical: `https://www.limecall.com/inbound-call-center-software/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
