---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get India Virtual Phone Number - LimeCall`,
  description: `With a dedicated virtual SMS number, you will be able to receive text messages from anyone. Your customers and staff can text you whenever they like`,
  canonical: `https://www.limecall.com/india-virtual-phone-number/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
