---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Free App Integration Software To Connect Your Favourite Enterprise Apps`,
  description: `LimeCall A free App Integration Software platform connects right into your technology stack to enhance Your Conversational Marketing Results.`,
  canonical: `https://www.limecall.com/integrations/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
