---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation Tools to Hack Your Growth Rates | By LimeCall`,
  description: `We present you the top 30 lead generation tools sorted in categories so you can choose the ones that will help you to improve your business.`,
  canonical: `https://www.limecall.com/lead-generation-tools/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
