---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Capture Inbound Leads - LimeCall`,
  description: `LimeCall displays fully customizable popups to your visitors. You can edit the text, use a dynamic element, or advanced customization via our powerful CSS editor`,
  canonical: `https://www.limecall.com/lead-capture/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
