---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Travel Lead Generation Software to Skyrocket Bookings | LimeCall`,
  description: `Explore how LimeCall can boost travel bookings with cutting-edge lead generation software. Increase conversions & watch your business soar.`,
  canonical: `https://www.limecall.com/lead-generation-for-travel-companies/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
