---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation for Home Services: Power Up with LimeCall`,
  description: `Stop Chasing Leads! Boost Lead Generation & Streamline Communication for Your Home Service Business. Try LimeCall Now to Power your business!`,
  canonical: `https://www.limecall.com/lead-generation-for-home-services/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
