---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation Strategies for Lawyers: Legal Lead Generation`,
  description: `Explore proven lead-generation tactics for lawyers. Boost your client base & grow your law firm with expert strategies from Limecall. Try Now`,
  canonical: `https://www.limecall.com/lead-generation-for-lawyers/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
