---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation for E-Commerce | Boost Sales with LimeCall`,
  description: `LimeCall's Instant Callbacks & Personalized Messages Capture Leads 24/7. Increase leads for e-commerce & boost Sales. Get a Free Trial Now!`,
  canonical: `https://www.limecall.com/lead-generation-for-e-commerce/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
