---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Proven Lead Generation for Web Designers | LimeCall`,
  description: `Struggling to find clients for your web design business? Explore effective lead generation strategies designed specifically for web designers`,
  canonical: `https://www.limecall.com/lead-generation-for-web-designers/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
