---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Close Deals Faster with LimeCall Lead Management Software`,
  description: `Streamline your sales process, boost profitability, build stronger customer relationships with Lead Management Software. Try for free!`,
  canonical: `https://www.limecall.com/lead-management-system/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
