---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Qualification - LimeCall`,
  description: `Lead Qualification - Send calls to the right place with LimeCall’s lead qualification software and keep your customers engaged!`,
  canonical: `https://www.limecall.com/lead-qualification/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
