---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation for Business Services | Limecall`,
  description: `Get the Power of Lead Generation Strategies for Your Business Services. Generate high-quality leads & convert prospects into loyal clients.`,
  canonical: `https://www.limecall.com/lead-generation-for-business-services/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
