---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Convert Visitors Into Sales Calls with Instant Callback | LimeCall`,
  description: `Limecall turns potential customers into qualified sales calls. Convert 80% web visitors into sales calls within 28 seconds with instant callback software!`,
  canonical: `https://www.limecall.com/lead-routing-software/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
