---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation Strategies for Contractors, Remodelers & Builders`,
  description: `Explore innovative lead generation solutions for construction businesses to skyrocket qualified leads. Start generating leads like a pro!`,
  canonical: `https://www.limecall.com/lead-generation-for-construction/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
