---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Boost Webflow Conversions with Effortless Callbacks with LimeCall`,
  description: `Maximize Webflow conversions! Try LimeCall's callbacks & texting for lead capture, streamlined communication & deal closure. Try LimeCall Now`,
  canonical: `https://www.limecall.com/limecall-for-webflow/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
