---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Callback Software for Real Estate Industry I LimeCall`,
  description: `Looking for Real Estate Sales Enablement & Callback Software? Convert and help your website visitors to find them a new home.`,
  canonical: `https://www.limecall.com/limecall-for-real-estate/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
