---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Callingly Alternative`,
  description: `Is Callingly limiting your sales? LimeCall offers a simpler, more affordable path to success. Streamline your communication, close more deals, and pay less. Compare LimeCall & Callingly now!`,
  canonical: `https://www.limecall.com/limecall-vs-callingly/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
