---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Sales Enablement & Callback Software for Travel Agency`,
  description: `Lime call is a perfect sales enablement & callback software for Travel Agency to get more customers. Convert 80% more customers on their hours than yours.`,
  canonical: `https://www.limecall.com/limecall-for-travel/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
