---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Limecall for Travel Tourism Aviation | Helpdesk Software`,
  description: `Helpdesk software for Travel industry. Help to make great memories worldwide with LimeCall. Stay closer to your customers and help them faster.`,
  canonical: `https://www.limecall.com/limecall-for-travel-tourism-aviation/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
