---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Sales Enablement software for Finance & Insurance | LimeCall`,
  description: `Sales Enablement software for Finance & Insurance. Invest in your customers with class-leading help desk by LimeCall`,
  canonical: `https://www.limecall.com/limecall-for-finance-insurance/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
