---
import Base from '../layouts/Base.astro';

const seo = {
  title: `LimeCall for Slack - Generate Qualified Leads with LimeCall`,
  description: `Maximize sales efficiency with LimeCall + Slack! Get call notifications, manage conversations & automate callbacks within Slack. Try it now!`,
  canonical: `https://www.limecall.com/limecall-for-slack/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
