---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Callpage Alternative`,
  description: `Limecall is Callpage alternative, the perfect fit for any SME. It's a perfect callback solution. offering an omni-channel approach to sales. You can try out for free with zero commitment.`,
  canonical: `https://www.limecall.com/limecall-vs-callpage/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
