---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Response IQ Alternative`,
  description: `Is ResponseIQ slowing you down? LimeCall offers a simpler, more affordable path to sales success. Streamline your communication, close more deals, and pay less. Compare LimeCall & ResponseIQ now!`,
  canonical: `https://www.limecall.com/limecall-vs-responseiq/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
