---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Powerful Lead Capture Plugin For WordPress Website | LimeCall`,
  description: `Struggling to convert website visitors into paying customers? Integrate LimeCall with WordPress for lead capture via website callbacks.`,
  canonical: `https://www.limecall.com/limecall-for-wordpress/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
