---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Sales Enablement Software for E-commerce Industry | LimeCall`,
  description: `Get closer to your potential shoppers and sell more and increase the satisfaction with Sales Enablement Software for E-commerce Industry`,
  canonical: `https://www.limecall.com/limecall-for-ecommerce-and-retail-2/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
