---
import Base from '../layouts/Base.astro';

const seo = {
  title: `HubSpot Integration to Generate Leads with LimeCall`,
  description: `Explore the full potential of lead generation with LimeCall's integration with HubSpot. Effortlessly capture, qualify, and convert leads Now!`,
  canonical: `https://www.limecall.com/limecall-for-hubspot/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
