---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Sales Enablement software for Software, IT & Technology`,
  description: `Sales Enablement software for Software, IT & Technology. LimeCall is the most reviewed and #1 rated help desk software for SMB in 2019.`,
  canonical: `https://www.limecall.com/limecall-for-software-it-technology/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
