---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Mass-Texting - LimeCall`,
  description: `Understand what your customers are looking for without even asking them. Respond to your customers' needs faster through call tracking.`,
  canonical: `https://www.limecall.com/mass-texting/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
