---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Schedule Meetings with Ease: LimeCall's Meeting Scheduler`,
  description: `Streamline your scheduling, never miss a meeting, LimeCall's intuitive meeting scheduler. Book appointments, send reminders, and manage your calendar efficiently.`,
  canonical: `https://www.limecall.com/meeting/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
