---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Outbound Call Rates - LimeCall`,
  description: `Increase agent productivity and remove obstructions by using all features of Limecall at a small additional charge. Outbound call rates provided.`,
  canonical: `https://www.limecall.com/outbound-calling-charges/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
