---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Personal CRM for Sales Professionals`,
  description: `Turn your phone into a powerful sales machine. Our personal CRM empowers you to manage leads, automate follow-ups, and close deals faster. Boost your productivity & win more clients.`,
  canonical: `https://www.limecall.com/personal-crm-for-sales-professionals/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
