---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Push notifications - LimeCall`,
  description: `Send push notifications to your users. Reach your users wherever they are. Notify offline users about new features, product updates, special offers and more.`,
  canonical: `https://www.limecall.com/push-notifications/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
