---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Lead Generation Software for Real-Estate | Limecall`,
  description: `Boost your real estate business with our powerful lead generation software. Effortlessly manage inquiries, nurture leads & close more deals.`,
  canonical: `https://www.limecall.com/real-estate-lead-generation-software/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
