---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Real Estate Marketing Tools and Softwares | By LimeCall`,
  description: `powerful real estate marketing tools that can facilitate this process greatly. 20 Real Estate Marketing Tools & Softwares to Generate Leads`,
  canonical: `https://www.limecall.com/real-estate-marketing-tools/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
