---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Real Estate Sales Tools for Closers - Top 10 | By LimeCall`,
  description: `As there are so many different tools on the market, we bring you a list of 10 vital real estate sales tools by LimeCall to close deals faster`,
  canonical: `https://www.limecall.com/real-estate-sales-tools/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
