---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Referral program - LimeCall`,
  description: `If you know a friend or a business contact that could benefit from LimeCall, let us know. If we onboard them, you get a reward worth a whopping $150! More referrals equal more closures and hence more rewards for you.`,
  canonical: `https://www.limecall.com/referral-program/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
