---
import Base from '../layouts/Base.astro';

const seo = {
  title: `LimeCall cancellation and refund policy - Best Sales Tools`,
  description: `You can cancel your LimeCall subscription at any time. To do so, drop us a note at sales@limecall.com or follow the in-product steps listed here.`,
  canonical: `https://www.limecall.com/refund-policy/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold text-white mb-8">LimeCall cancellation and refund policy</h1>
    
<p>You can cancel your LimeCall subscription at any time from the dashboard under the setting>billing>cancel plan option. Alternatively, drop us a note at <a href="mailto:sales@limecall.com">sales@limecall.com</a> .</p>



<p></p>



<p><strong>Repayable funds.</strong> Users have the right for refunds from account balance. The amount of a refund should not exceed the current amount on the account balance. A refund is impossible for services that are actually provisioned and for one-time services actually provisioned (for example number connection, eSIM), payment for which is taken from account balance at that time.</p>



<p><strong>Time limitation for refund.</strong> Funds on account balance cannot be returned after the expiry of 180 days from the day of the last funded usage against the account balance of LimeCall, to pay goods and services.</p>



<p></p>

  </div>
</Base>
