---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Top Blackfriday SaaS Deals of 2023 | By LimeCall`,
  description: `Black Friday is here! Use discounts to boost your business. Check the list of 55+ best SaaS deals for 2023!`,
  canonical: `https://www.limecall.com/saas-black-friday-deals/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
