---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Security - LimeCall`,
  description: `Customer trust and data security are critical to everything we do at Limecall. Grow sales through real-time customer conversations. Get Started Today!`,
  canonical: `https://www.limecall.com/security/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
