---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Shared SMS Inbox for Teams: Say Goodbye to Missed Texts`,
  description: `Never miss a customer text again! LimeCall's shared inbox lets your team collaborate & manage SMS conversations. Boost customer satisfaction!`,
  canonical: `https://www.limecall.com/shared-inbox/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
