---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Send & Receive SMS in Slack with LimeCall | Seamless Integration`,
  description: `Boost communication in Slack! Seamlessly send & receive SMS in Slack using LimeCall & enjoy 2-way texting with collaboration features. Try Now`,
  canonical: `https://www.limecall.com/sms-for-slack/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
