---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Reach Customers Instantly, Powerful SMS Broadcasts | LimeCall`,
  description: `SMS broadcasts, boost sales, reminders & engagement. Get your message directly to customers, targeted messaging, try our free trial today!`,
  canonical: `https://www.limecall.com/sms-broadcasts/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
