---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Speed to Lead Advantage with LimeCall - Close Deals Faster`,
  description: `Experience the competitive edge with LimeCall's speed to lead advantage. Accelerate your sales process & close deals faster than ever before.`,
  canonical: `https://www.limecall.com/speed-to-lead/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
