---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Team Managemen - LimeCall`,
  description: `Team Management - Manage your teams quickly and at a glance using LimeCall’s team management feature. Get Started with our Callback Software.`,
  canonical: `https://www.limecall.com/team-management-3/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
