---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Guides - LimeCall`,
  description: `The Ultimate Guide to Enabling Your SaaS Sales Team - First thing’s first. Let’s learn from the best minds in the game and touch on some of the basics of SaaS sales.`,
  canonical: `https://www.limecall.com/the-ultimate-guide-to-saas-sales-teams/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
