---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Time to Lead - LimeCall`,
  description: `Time to Lead - Close more deals fast. Really fast. LimeCall puts you on the phone with your lead in 28 seconds. Get Started`,
  canonical: `https://www.limecall.com/time-to-lead/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
