---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get a US Virtual Phone Number - LimeCall`,
  description: `Create a +1 virtual phone number in United States in 1 minute. Unlimited calling from Web and Mobile App to over 100+ destinations. Get a local presence in United States right away.`,
  canonical: `https://www.limecall.com/us-virtual-phone-number/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
