---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Use cases - LimeCall`,
  description: `Limecall provides extensive use and boundless potential. Use cases include marketing, sales, operations and customer care.`,
  canonical: `https://www.limecall.com/use-cases/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
