---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Buy virtual Numbers - LimeCall`,
  description: `Buy a virtual phone number online and start managing calls in minutes! LimeCall makes it easy to get business phone numbers anywhere you need.`,
  canonical: `https://www.limecall.com/virtual-business-numbers/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
