---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Get a Virtual Phone Number in Canada - LimeCall`,
  description: `Create a +1 virtual phone number in Canada in 1 minute. Unlimited calling from Web and Mobile App to over 100+ destinations. Get a local presence in Canada right away.`,
  canonical: `https://www.limecall.com/virtual-phone-number-canada/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
