---
import Base from '../layouts/Base.astro';

const seo = {
  title: `Automate Your Workflow with Powerful LimeCall Webhooks`,
  description: `Streamline call management & boost efficiency! LimeCall Webhooks trigger actions in your apps based on calls, saving you time & eliminating errors. Get started today & unlock a more connected workflow.`,
  canonical: `https://www.limecall.com/webhooks/`,
};
---
<Base {...seo}>
  <div class="wp-content max-w-5xl mx-auto px-4 py-12">
    
    <p class="text-dark-400">Content coming soon.</p>
  </div>
</Base>
